<div class="four-squares">
  <div class="square">{{ content.square1 }}</div>
  <div class="square">{{ content.square2 }}</div>
  <div class="square">{{ content.square3 }}</div>
  <div class="square">{{ content.square4 }}</div>
</div>
